/* You can add global styles to this file, and also import other style files */
* {
  -webkit-box-sizing: border-box;
}


.alert {
  padding: 10px;
  border-radius: 10px;
}

.alert-danger {
  background-color: red;
}
.alert-success {
  background-color: green;
}
.alert-warning {
  background-color: orange;
}
